@charset "UTF-8";
/*
!----------------------- Обнуляющий стиль --------------------!
*/
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Roboto:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
/*
!---------------------- Подключения шрифта -------------------!
*/
/*

font-family: 'Poppins';
font-family: 'Roboto';

*/
/*
!----------------------  -------------------!
*/
/*
!------------header----------------!
*/
header {
  display: flex;
  align-items: center;
}

.header__burger {
  display: inline-flex;
  padding: 44.67px 52.67px;
  background: #232F3E;
  cursor: pointer;
}
.header__burger-lines {
  display: flex;
  width: 26.67px;
  height: 18.67px;
}
.header__burger-lines span {
  display: flex;
  width: 26.67px;
  height: 2.65px;
  background: #ffffff;
  position: relative;
  border-radius: 2px;
}
.header__burger-lines span::after, .header__burger-lines span::before {
  content: "";
  display: flex;
  background: #ffffff;
  position: absolute;
  left: 0;
  border-radius: 2px;
  height: 2.65px;
}
.header__burger-lines span::after {
  top: 8px;
  width: 13.33px;
}
.header__burger-lines span::before {
  top: -8px;
  width: 18.67px;
}
.header__sidebar {
  display: none;
}
.header__logo {
  margin-left: 48px;
  width: 106.15px;
  height: 32px;
  border: 1px solid;
}
.header__logo img {
  width: 106.15px;
  height: 32px;
}
/*
!-------------main------------------!
*/
.main__container {
  max-width: 1224px;
  margin: 0 auto;
  padding: 0 24px;
}

/*
!-------------hero------------------!
*/
/*
!-------------categories-----------!
*/
/*
!-------------products---------------!
*/