@charset "UTF-8";
/*
!----------------------- Обнуляющий стиль --------------------!
*/
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
/*
!---------------------- Подключения шрифта -------------------!
*/
/*

font-family: 'Poppins';
font-family: 'Roboto';

*/
/*
!----------------------  -------------------!
*/
body {
  font-family: "Roboto";
}

/*
!------------header----------------!
*/
/*
!-------------main------------------!
*/
.main__container {
  max-width: 1224px;
  margin: 0 auto;
  padding: 0 24px;
}

/*
!-------------hero------------------!
*/
body {
  font-family: "Roboto", sans-serif;
}

.hero {
  position: relative;
  display: flex;
  width: 1176px;
  height: 450px;
  margin: 0 auto;
  background-color: rgba(242, 242, 242, 0.4);
  border: 1px solid;
}

.hero-side {
  position: absolute;
  top: 50%;
  left: 0px;
  z-index: 1;
  transform: translate(-50%, -50%);
}

i {
  padding: 12px;
  border-radius: 50%;
  background: #fff;
}

.hero-left {
  border: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.sony {
  color: #FF9900;
}

h1 {
  font-family: "Poppins", sans-serif;
  margin-top: 11px;
<<<<<<< HEAD
=======
  width: 500px;
  height: 116px;
>>>>>>> d45efa8afab1b95b25cf9cc0d3a6707fbbb38880
  font-size: 49px;
}

.text {
  font-size: 13px;
}

.btn {
  margin-top: 35px;
}

.btn-left {
  padding: 6px;
  color: #146EB4;
  border: 2px solid #146EB4;
}

.btn-right {
  padding: 6px;
  color: #146EB4;
  border: 2px solid #146EB4;
}

.btn-left:hover {
  color: #fff;
  background-color: #146EB4;
}

.btn-right:hover {
  color: #fff;
  background-color: #146EB4;
}

.hero-right {
  width: 50%;
  height: 100%;
}

.hero-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-side {
  position: absolute;
  top: 50%;
  right: -3%;
  transform: translate(-50%, -50%);
}

.fa-arrow-left:hover {
  background-color: bisque;
}

.fa-arrow-right:hover {
  background-color: bisque;
}

/*
!-------------categories-----------!
*/
/*
!-------------products---------------!
*/