@charset "UTF-8";
/*
!----------------------- Обнуляющий стиль --------------------!
*/
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Roboto:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
/*
!---------------------- Подключения шрифта -------------------!
*/
/*

font-family: 'Poppins';
font-family: 'Roboto';

*/
/*
!----------------------  -------------------!
*/
/*
!------------header----------------!
*/
/*
!-------------main------------------!
*/
.main__container {
  width: 1224px;
  margin: 0 auto;
  padding: 0px 24px;
  border: 1px solid;
}

/*
!-------------hero------------------!
*/
.hero {
  width: 1174px;
  display: flex;
  justify-content: space-between;
  padding: 12px 83px 12px 56px;
  position: relative;
  background: #fafafa;
}
.hero_right {
  position: relative;
}
.hero_right img {
  width: 417px;
}
.hero_right-blue {
  display: flex;
  width: 110px;
  height: 110px;
  background: rgba(20, 111, 180, 0.5803921569);
  border-radius: 50%;
  position: absolute;
  top: 47px;
  left: 26px;
}
.hero_right-yellow {
  display: flex;
  width: 110px;
  height: 110px;
  background: rgba(255, 153, 0, 0.5333333333);
  border-radius: 50%;
  position: absolute;
  right: 11px;
  bottom: 10px;
}
.hero_button-left {
  display: flex;
  position: absolute;
  width: 48px;
  height: 48px;
  color: #000;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background: blue;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
}
.hero_button-right {
  display: flex;
  position: absolute;
  width: 48px;
  height: 48px;
  color: #000;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background: blue;
  top: 50%;
  right: -48px;
  transform: translate(-50%, -50%);
}
.hero__left {
  max-width: 444px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  max-width: 43.47%;
  row-gap: 16px;
}
.hero__left h1 {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  color: #000000;
}
.hero__left h2 {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #FF9900;
}
.hero__left p {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: rgba(35, 47, 62, 0.48);
}
.hero__left-button {
  display: flex;
  -moz-column-gap: 12px;
       column-gap: 12px;
}
.hero__left-button a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #146EB4;
  min-width: 124px;
  min-height: 32px;
  border: 1px solid #146EB4;
  transition: 0.3s;
}
.hero__left-button a:hover {
  background-color: #146EB4;
  color: white;
}

/*
!-------------categories-----------!
*/
/*
!-------------products---------------!
*/