@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}


.hero {
  position: relative;
  display: flex;
  width: 1176px;
  height: 450px;
  margin: 0 auto;
  background-color: #F2F2F266;
  border: 1px solid ;
}

.hero-side {
  position: absolute;
  top: 50%;
  left: 0px;
  z-index: 1;
  transform: translate(-50%, -50%);
}

i {
  padding: 12px;
  border-radius: 50%;
  background: #fff;
}

.hero-left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}

.hero-best {
  width: 444px;
  height: 292px;
}

.sony {
  color: #FF9900;
}

h1 {
  font-family: 'Poppins', sans-serif;
  margin-top: 11px;
  width: 444px;
  height: 116px;
  font-size: 49px;
}

.text {
  width: 440px;
  height: 80px;
  font-size: 13px;

}

.btn {
  margin-top: 35px;

}

.btn-left {

  padding: 6px;
  color: #fff;
  background-color: #146EB4;
  border: 2px solid #146EB4;
}

.btn-right {
  padding: 6px;
  background-color: #fff;
  color: #146EB4;
  border: 2px solid #146EB4;
}

.btn-left:hover {

  background-color: #075d82;
}

.btn-right:hover {
  background-color: #888f92;
}

.hero-right {
  width: 50%;
  height: 100%;
}

.span-blue {
  width: 110px;
  height: 110px;
  background-color: #146EB4;
}

.hero-img {
  display: flex;
  justify-content: center;
  align-items: center;


}

.right-side {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
}

.fa-arrow-left:hover {
  background-color: bisque;
}

.fa-arrow-right:hover {
  background-color: bisque;
}