/*
!----------------------- Обнуляющий стиль --------------------!
*/
@import "_nullstyle";
/*
!---------------------- Подключения шрифта -------------------!
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Roboto:wght@400;500;700&display=swap');

/*

font-family: 'Poppins';
font-family: 'Roboto';

*/
/*
!----------------------  -------------------!
*/

/*
!------------header----------------!
*/
@import "_header";

/*
!-------------main------------------!
*/
.main{
  &__container{
    width: 1224px;
    margin: 0 auto;
    padding: 0px 24px;
    border: 1px solid ;
  }
}
/*
!-------------hero------------------!
*/
@import "_hero";
/*
!-------------categories-----------!
*/
@import "_categories";
/*
!-------------products---------------!
*/
@import "_products";